<!DICTYPE html>

{% load static %}

<html>
	
	<head>
		<title>Combo</title>
	</head>
	
	<body>
		<h1>Combo says..</h1>

		{% if categories %}
			<ul>
				{% for category in categories%}
				<li>{{ category.name }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		hello.<strong>{{ boldmessage }}</strong><br />
		<a href = "/combo/shit/">SHIT</a><br />
		<a href = "/combo/add_category/">add a new category</a><br />
		<img src = "{% static "images/darksouls.jpg" %}" alt = "picture of combo"/>
	</body>
	
</html>
